.App {
  background-color: #fefefe;
  max-width: 80rem;
  margin: 8rem auto;
}

.App-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

p,
input {
  font-size: 1.8rem;
}
